.cloud-jumper-container {
    background: none;
    color: #ffffff;
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.cloud-jumper-game {
    background: rgb(203, 232, 192);;
    position: relative;
    width: 550px;
    height: 300px;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.cloud {
    position: absolute;
    width: 80px;
    height: 50px;
}

#cloud-jumper {
    position: absolute;
    left: 150px;
    bottom: 100px;
    width: auto;
    height: 80px;
}